@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap');

:root {
	--color1: #fff;
	--color2: #000;
	--color3: #335eea;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: 'PT Sans Narrow', sans-serif;
}
a  {
	color: var(--color3);
}
.open {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 10000;
}

.open .layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: top;
	animation: open 1s ease-in-out forwards;
}

.open .layer:nth-child(1) {
	background: var(--color1);
	z-index: 2;
}

.open .layer:nth-child(2) {
	background: var(--color3);
	animation-delay: 1s;
	z-index: 1;
}

@keyframes open {
	0% {
		transform: scaleY(1);
	}

	100% {
		transform: scaleY(0);
	}
}

section {
	width: 100%;
	height: 100%;
	background: var(--color1);
	display: flex;
	flex-direction: column;
}

article {
	width: 100%;
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

article:nth-child(odd) {
	background: var(--color3);
	color: var(--color1);
}

article:nth-child(even) {
	background: var(--color1);
	color: var(--color2);
}

.article-home {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), var(--color3)), url(../media/headerhome.jpg)!important;
	background-position: center center!important;
	background-size: cover!important;
	padding-top: 80px;
}

.cd-scroll-down {
	position: absolute;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 20px;
	width: 38px;
	height: 44px;
	/*Foto de https://unsplash.com/es/@solenfeyissa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText Solen Feyissa en https://unsplash.com/es/fotos/cOSfVyxCSng?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText*/
	background: url(https://cdn.statically.io/gh/subxanima/clanautomata/master/img/cd-arrow-bottom.svg) no-repeat center center;	
	transition: all 0.2s ease-out;
}

.cd-img-replace {
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.bannerText {
	padding-top: 5rem;
	padding-bottom: 5rem;
	top: 50%;
	left: 10%;
	max-width: 700px;
}

.bannerText h2,
.bannerText h3 {
	position: relative;
	margin: 0;
	padding: 0;
	display: inline-block;
	transform-origin: left;
	text-transform: uppercase;
	transform: scaleX(0);
	animation: revealTextReverse 1s ease-in-out forwards;
}

.bannerText h2 {
	font-size: 6em;
	animation-delay: 2s;
}

.bannerText h3 {
	font-size: 3em;
	animation-delay: 3s;
}

.bannerText h2:before,
.bannerText h3:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: var(--color3);
	width: 100%;
	height: 100%;
	transform-origin: right;
	animation: revealText 1s ease-in-out forwards;
	animation-delay: 3s;
}

.bannerText h3:before {
	animation-delay: 4s;
}

@keyframes revealText {
	0% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(0);
	}
}

@keyframes revealTextReverse {
	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}

.bannerText p,
.bannerText li {
	opacity: 0;
	font-weight: 400;
	font-size: 1.2em;
	animation: fadeIn 1s linear forwards;
	animation-delay: 5s;
	text-align: justify;
	text-justify: inter-word;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.bannerText a {
	opacity: 0;
	display: inline-block;
	margin: 20px 0 0;
	padding: 10px 20px;
	background: var(--color1);
	color: var(--color3);
	font-weight: 700;
	text-decoration: none;
	font-size: 1.2em;
	letter-spacing: 1px;
	animation: fadeInBottom 0.5s linear forwards;
	animation-delay: 3.5s;
	box-shadow: 0 3px 45px rgb(0 0 0 / 15%);
	border-radius: .5rem;
}

@keyframes fadeInBottom {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.bulb {
	width: 30%;
	opacity: 0;
	right: 10%;
	top: 50%;
	animation: fadeIn 1s linear forwards;
	animation-delay: 3s;
	z-index: 100;
}

.sci {
	position: fixed;
	bottom: 15px;
	right: 30px;
	display: flex;
	flex-direction: column;
	background: var(--color3);
	padding: 1rem;
	border-radius: 1rem;
}

.sci li {
	opacity: 0;
	list-style: none;
	padding: 10px 0;
	text-align: center;
	animation: fadeInBottom 0.5s linear forwards;
}

.header ul li:nth-child(1),
.sci li:nth-child(1) {
	animation-delay: 2s;
}

.header ul li:nth-child(2),
.sci li:nth-child(2) {
	animation-delay: 2.25s;
}

.header ul li:nth-child(3),
.sci li:nth-child(3) {
	animation-delay: 2.5s;
}

.header ul li:nth-child(4),
.sci li:nth-child(4) {
	animation-delay: 2.75s;
}

.header ul li:nth-child(5),
.sci li:nth-child(5) {
	animation-delay: 3s;
}

.header ul li:nth-child(6),
.sci li:nth-child(6) {
	animation-delay: 3.25s;
}

.sci li a {
	font-size: 1.2em;
	color: var(--color1);
}

.header {
	background: rgba(255, 255, 255, .9);
	border-bottom: solid 1px var(--color1);
	box-shadow: 0 3px 45px rgb(0 0 0 / 15%);
    backdrop-filter: brightness(70%) blur(5px);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	padding: 0 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	z-index: 999;
}

.header .logo {
	opacity: 0;
	margin: 0;
	padding: 0;
	font-size: 2em;
	text-transform: uppercase;
	animation: fadeIn 0.5s linear forwards;
	animation-delay: 2s;
}

.header ul {
	margin: 0;
	padding: 0;
	z-index: 100;
	display: flex;
}

.header ul li {
	opacity: 0;
	list-style: none;
	margin: 0 10px;
	animation: fadeInRight 0.5s linear forwards;
}

.header ul li:last-child {
	margin-right: 0;
}

.header ul li a {
	text-decoration: none;
	font-size: 1.2em;
	color: var(--color2);
	padding: 5px 10px;
	letter-spacing: 2px;
	border-radius: .5rem;
}

.header ul li a.active,
.header ul li a:hover {
	background: var(--color3);
	color: var(--color1);
}

@keyframes fadeInRight {
	0% {
		transform: translateX(150px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.footer {
    background: var(--color1);
	font-weight: 400;
    font-size: 1.2em;
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
    color: var(--color2);
    height: 80px;
}